* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #323232;
}

.hidden {
  display: none;
}
/*
 * Button Styles
 */
.button {
  width: 125px;
  height: 50px;
  display: inline-block;
  border: 3px solid #bbb;
  background-color: #bbb;
  font-weight: bold;
}
.button.med {
  width: auto;
  height: 35px;
}
.button.small {
  width: auto;
  height: 25px;
}
.button.add {
  background-color: green;
  border-color: green;
}
.button.alert {
  background-color: red;
  border-color: red;
}
.button:hover {
  background: transparent;
  cursor: pointer;
}
.button:active {
  opacity: 0.5;
}
.button:focus {
  outline: none;
}

.checkmark,
.chevron {
  display: inline-block;
  padding: 0 10px;
  margin-top: -10px;
  cursor: pointer;
}
.chevron.up {
  margin-top: 10px;
}
.chevron.up:after {
  transform: rotate(225deg);
}
.checkmark.watched:after,
.checkmark.checked:after {
  border-color: green;
}
.checkmark:after {
  content: "";
  display: block;
  width: 10px;
  height: 20px;
  border-color: #bbb;
  border-style: solid;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
.chevron:after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border: solid #aaa;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  transition: transform .25s;
}
.magnifying-glass {
  font-size: 2em;
  display: inline-block;
  width: 0.5em;
  height: 0.5em;
  border: 0.1em solid #aaa;
  position: relative;
  border-radius: 0.35em;
}
.magnifying-glass:before {
  content: "";
  display: inline-block;
  position: absolute;
  right: -0.25em;
  bottom: -0.1em;
  border-width: 0;
  background: #aaa;
  width: 0.3em;
  height: 0.08em;
  transform: rotate(45deg);
}
.cross-x {
  background: #aaa;
  height: 1.5em;
  width: 0.25em;
  position: relative;
  display: inline-block;
  transform: rotate(45deg);
}
.cross-x:after {
  position: absolute;
  background: #aaa;
  content: "";
  height: 0.25em;
  left: -0.625em;
  top: 0.625em;
  width: 1.5em;
}
@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 28px;
  height: 28px;
  margin: -14px 0 0 -14px;
  padding: 0;
}
.loading .maskedCircle {
  width: 20px;
  height: 20px;
  border-radius: 12px;
  border: 3px solid #444;
}
.loading .mask {
  width: 12px;
  height: 12px;
  overflow: hidden;
}
.loading .spinner {
  position: absolute;
  left: 1px;
  top: 1px;
  width: 26px;
  height: 26px;
  animation: spin 1s infinite linear;
}
